/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 45px;
    padding: 10px;
}

h2 {
    font-size: 35px;
    padding: 15px;
}

p {
    margin: 20px;
}

.banner {
    margin-top: 20px;
    margin-bottom: 120px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover; /* Ensures the background image covers the entire screen */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Header */
header {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
}

#name-in-header {
    color: white;
}

main {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-wrap: wrap; /* Allows the wrappers to wrap to the next line */
    padding: 10px; /* Adds padding around the main container */
    flex-direction: column;
    align-content: flex-start;
}

/* Wrapper and Input Box Styles */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 20px 25px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    margin: 10px; /* Adds margin around each wrapper */
}

.wrapper h1 {
    font-size: 20px;
    color: white;
}

.wrapper .input-box {
    width: 100%;
    position: relative;
    height: 50px;
    margin: 30px 0;
    color: white;
}

.progress-size {
    width: 152vh;
    height: 654px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.199);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* Flex Containers */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* XP Display */
.xpDisplay {
    display: flex;
    justify-content: space-between;
}

.module-name, .module-level, .module-xp {
    padding: 5px;
    color: white;
}

.module-xp {
    font-weight: bold;
}

.module-lv {
    font-size: 70px;
    font-weight: bold;
}

/* Buttons */
.btn {
    transition: all 0.3s ease-in-out;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #232526;
}

.btn:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.logout {
    width: 90px;
    height: 25px;
    font-size: 12px;
    

}

/* Audit Chart */
#audit-ratio {
    padding: 30px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.3);
}

#audit-chart {
    margin: 0 auto;
    transform: rotate(-90deg);
    background: #444;
    border-radius: 50%;
    display: block;
}

.pie {
    fill: #27ae60;
    stroke: #c0392b;
    stroke-width: 200;
    stroke-dasharray: 0 628;
    transition: stroke-dasharray 0.3s ease;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;
}

.fake-news {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c0392b;
}

.green {
    background-color: #27ae60;
}

.graph .labels.x-labels, .graph .labels.y-labels {
    font-size: 13px;
    fill: #ecf0f1;
}

.labels .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: #ecf0f1;
}

.line {
    stroke: #ecf0f1;
    stroke-width: 1.5;
    fill: rgba(121, 0, 121, 0.8);
}

.bar {
    fill: steelblue;
    height: 22px;
    transition: fill 0.3s ease;
    cursor: pointer;
}

.bar:hover,
.bar:focus {
    fill: gray !important;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #7f8c8d;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bdc3c7;
}
